* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  background: #f2f5fa;
  -webkit-text-size-adjust: 100%;
}

input,
select,
textarea,
button {
  max-width: 100%;
}
